body {
  text-align: center;
}

header {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:active {
  color: inherit;
}

li {
  color: white;
  font-size: 1em;
  border: outset 5px rgba(0, 0, 0, 0.8);
  background-color: rgba(22, 98, 219, 0.3);
  transition: font-size 0.3s ease, border 0.5s ease, background-color 0.5s ease, border-radius 0.5s ease;
  padding-right: 0.2em;
  padding-left: 0.2em;
}

li:hover {
  font-size: 0.95em;
  border: inset 10px rgba(0, 0, 0, 0.9);
  border-radius: 25px;
  background-color: rgba(70,0,255,0.4);
}

ul {
  list-style-type: none;
  margin-right: 1.6em;
}

.teaser {
  margin: 50px;
  font-style: italic;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 96.5vh;
  border: outset 6px rgba(0, 0, 0, 0.5);
}

.grid-column {
  border: outset 8px rgba(0, 0, 0, 0.5);
  transition: border 0.5s ease, background-color 0.5s ease;
  padding-top: 0;
  padding-right: 5em;
  padding-bottom: 0;
  padding-left: 5em;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: Arial, helvetica, sans-serif;
}

.grid-column:hover {
  border: outset 15px rgba(0, 0, 0, 0.7);
}

#description {
  color: white;
  background-color: rgba(0, 0, 0, 0.88);
  transition: border 0.5s ease, background-color 0.5s ease;
  padding-top: 9rem;
}

#description:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#categories {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  transition: border 0.5s ease, background-color 0.5s ease;
  padding-top: 7rem;
}

#categories:hover {
  background-color: rgba(13, 114, 168, 0.9);
}

#answer {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transition: border 0.5s ease, background-color 0.5s ease;
  padding-top: 22rem;
  border: outset 8px rgba(0, 0, 0, 0.93);
}

#answer:hover {
  background-color: rgba(22, 98, 219, 0.9);
  border: outset 15px rgba(0, 0, 0, 0.5);
}

#aryusmart-title {
  padding-top: 0.2em;
  padding-right: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.2em;
  font-size: 50px;
  color: white;
  background-color: rgba(22, 97, 219, 0.466);
  border: solid 5.8px rgba(64, 63, 66, 0.849);
  border-radius: 10px;
}


